* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: mediumseagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 25px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 10px;
  margin: 0 50px 0 50px; /*distancia entre box */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* color de la sombra del box */
  background-color: rgb(190, 191, 214); /*background color del box */
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: rgb(0, 0, 0); /*color texto boton */
  font-weight: bold;
  background-color: rgb(18, 231, 149); /*background color boton */
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.3em; /* radio en las esquina del boton */
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* color y espesor del borde del texto */
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 60px; /* altura del textbox */
  text-transform: lowercase; /* limita a que todo el texto en el textbox sea siempre minuscolo...*/
}

#autorChallenge{
  
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  margin: 100px auto;
}